In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(r'A:\CODING\Python\Machine Learning\HackathonAdityaFarmer\agridata_csv_202110311352.csv')
data

,commodity_name,state,district,market,min_price,max_price,modal_price,date
0,Ajwan,Gujarat,Amreli,Amreli,63.25,79.55,79.55,2019-05-22
1,Ajwan,Gujarat,Banaskanth,Dhanera,80.05,80.05,80.05,2019-05-22
2,Ajwan,Gujarat,Jamnagar,Jamnagar,90.00,155.00,122.50,2019-05-22
3,Ajwan,Gujarat,Mehsana,Kadi,94.50,112.50,107.00,2019-05-22
4,Ajwan,Gujarat,Mehsana,Unjha,21.25,148.50,99.75,2019-05-22
...,...,...,...,...,...,...,...,...
836970,Arhar (Tur/Red Gram)(Whole),Gujarat,Bharuch,Jambusar(Kaavi),5100.00,5500.00,5300.00,2021-10-06
836971,Arhar (Tur/Red Gram)(Whole),Gujarat,Rajkot,Jasdan,3500.00,5500.00,5000.00,2021-10-06
836972,Arhar (Tur/Red Gram)(Whole),Gujarat,Rajkot,Rajkot,5300.00,6225.00,5650.00,2021-10-06
836973,Arhar (Tur/Red Gram)(Whole),Gujarat,Junagarh,Visavadar,4750.00,5750.00,5250.00,2021-10-06
836974,Arhar (Tur/Red Gram)(Whole),Kerala,Kasargod,Neeleswaram,10500.00,11500.00,11000.00,2021-10-06

In [4]:
data=data.dropna()
data['commodity'] = data['commodity_name']

In [5]:
data

,commodity_name,state,district,market,min_price,max_price,modal_price,date,commodity
0,Ajwan,Gujarat,Amreli,Amreli,63.25,79.55,79.55,2019-05-22,Ajwan
1,Ajwan,Gujarat,Banaskanth,Dhanera,80.05,80.05,80.05,2019-05-22,Ajwan
2,Ajwan,Gujarat,Jamnagar,Jamnagar,90.00,155.00,122.50,2019-05-22,Ajwan
3,Ajwan,Gujarat,Mehsana,Kadi,94.50,112.50,107.00,2019-05-22,Ajwan
4,Ajwan,Gujarat,Mehsana,Unjha,21.25,148.50,99.75,2019-05-22,Ajwan
...,...,...,...,...,...,...,...,...,...
836970,Arhar (Tur/Red Gram)(Whole),Gujarat,Bharuch,Jambusar(Kaavi),5100.00,5500.00,5300.00,2021-10-06,Arhar (Tur/Red Gram)(Whole)
836971,Arhar (Tur/Red Gram)(Whole),Gujarat,Rajkot,Jasdan,3500.00,5500.00,5000.00,2021-10-06,Arhar (Tur/Red Gram)(Whole)
836972,Arhar (Tur/Red Gram)(Whole),Gujarat,Rajkot,Rajkot,5300.00,6225.00,5650.00,2021-10-06,Arhar (Tur/Red Gram)(Whole)
836973,Arhar (Tur/Red Gram)(Whole),Gujarat,Junagarh,Visavadar,4750.00,5750.00,5250.00,2021-10-06,Arhar (Tur/Red Gram)(Whole)
836974,Arhar (Tur/Red Gram)(Whole),Kerala,Kasargod,Neeleswaram,10500.00,11500.00,11000.00,2021-10-06,Arhar (Tur/Red Gram)(Whole)

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['commodity_name'] = le.fit_transform(data['commodity_name'])
data['state'] = le.fit_transform(data['state'])
data['district'] = le.fit_transform(data['district'])
data['market'] = le.fit_transform(data['market'])

In [7]:
data

,commodity_name,state,district,market,min_price,max_price,modal_price,date,commodity
0,0,5,15,78,63.25,79.55,79.55,2019-05-22,Ajwan
1,0,5,39,593,80.05,80.05,80.05,2019-05-22,Ajwan
2,0,5,206,934,90.00,155.00,122.50,2019-05-22,Ajwan
3,0,5,304,999,94.50,112.50,107.00,2019-05-22,Ajwan
4,0,5,304,2278,21.25,148.50,99.75,2019-05-22,Ajwan
...,...,...,...,...,...,...,...,...,...
836970,14,5,63,930,5100.00,5500.00,5300.00,2021-10-06,Arhar (Tur/Red Gram)(Whole)
836971,14,5,378,942,3500.00,5500.00,5000.00,2021-10-06,Arhar (Tur/Red Gram)(Whole)
836972,14,5,378,1832,5300.00,6225.00,5650.00,2021-10-06,Arhar (Tur/Red Gram)(Whole)
836973,14,5,219,2352,4750.00,5750.00,5250.00,2021-10-06,Arhar (Tur/Red Gram)(Whole)
836974,14,11,239,1595,10500.00,11500.00,11000.00,2021-10-06,Arhar (Tur/Red Gram)(Whole)

In [8]:
#top 10 occuring commodities
commodity_count = data['commodity'].value_counts().nlargest(10)
commodity_count

Onion           44908
Tomato          42715
Wheat           41172
Potato          37810
Brinjal         33687
Green+Chilli    33004
Apple           30025
Cauliflower     23578
Bottle+gourd    22445
Mustard         21350
Name: commodity, dtype: int64

In [9]:
# storing top 10 commodities in differnt csv files
for commodity in commodity_count.index:
    commodity_data = data[data['commodity'] == commodity]
    filename = f'{commodity}.csv'
    #commodity_data.to_csv(filename, index=False)
    commodity_data.to_csv(r'A:\CODING\Python\Machine Learning\HackathonAdityaFarmer\my code\{}.csv'.format(filename), index=False)

In [14]:
data.to_csv("processed_data.csv",index=False)